* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a,
ol,
ul {
  list-style: none;
  text-decoration: none;
}
header {
  width: 100%;
  height: 60px;
  background: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.5s;
}
/* .headerScroll {
    background-color: #fff !important;
    color: #2b2b2b !important;
    transition: 0.5s;
    padding: 20px;
  }
  .headerScroll nav {
    color: #2b2b2b !important;
  }
  .headerScroll a {
    color: #2b2b2b;
  }
  .headerScroll nav ul li a::before,
  .headerScroll nav ul li .active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 2px;
    background-color: #2b2b2b;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
  }
  .headerScroll nav ul li a:hover::before {
    transform: scale(1);
    transform-origin: left;
  }
  .headerScroll nav ul li .active::before {
    transform: scale(1);
  } */
header nav {
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header nav ul li a {
  padding: 5px 15px;
  cursor: pointer;
  position: relative;
  color: #fff;
}
header nav ul li a::before,
header nav ul li .active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 2px;
  background-color: #fff;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
header nav ul li a:hover::before {
  transform: scale(1);
  transform-origin: left;
}
header nav ul li .active::before {
  transform: scale(1);
}
header nav form input {
  padding: 10px 25px;
  cursor: pointer;
  background-color: orangered;
  border: 1px solid transparent;
  color: #fff;
  transition: 0.5s;
  border-radius: 10px;
}
header nav form input:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
header nav .menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  display: none;
}
header nav .menu-icon span {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
}
header nav .bigMenu {
  width: 100%;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}
@media screen and (max-width: 932px) {
  header nav {
    width: 95%;
  }
  header nav ul {
    display: none ;
  }
  header nav .menu-icon {
    display: flex ;
  }
}
/* header nav .bigMenu {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #fff;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  header nav .bigMenu a {
    color: #2b2b2b;
  } */
