/* @import url("https://fonts.googleapis.com/css2?family=Oldenburg&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Oldenburg", serif; */
  font-family: "Salsa", cursive;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  gap: 40px;
  flex-wrap: wrap;
  background: url(../../Images/Home/bg7.jpg) center/cover no-repeat fixed;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 200vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.container .dashboard {
  width: 90%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.container .dashboard a {
  width: 500px;
  padding: 60px 0;
  text-align: center;
  border: 1px solid orangered;
  background-color: transparent;
  color: orangered;
  border-radius: 10px;
  font-size: 35px;
  transition: 0.5s;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.container .dashboard a:hover {
  background-color: orangered;
  color: #fff;
  font-weight: 900;
}
@media screen and (max-width: 1057px) {
  .container .dashboard {
    min-height: 150vh;
  }
  .container .dashboard a {
    width: 90%;
    font-size: 28px;
  }
}
.success-message {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.success-message .done {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}
.success-message .done a {
  color: orangered;
  padding: 10px 50px;
  border: 1px solid orangered;
  transition: 0.5s;
  border-radius: 4px;
}
.success-message .done a:hover {
  background-color: orangered;
  color: #fff;
}
